{% extends "base.html" %}

{% block title %}
Membres
{% endblock %}

{% block headline %}
Liste des membres
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li class="active">Membres</li>
{% endblock %}

{% block content %}

<p>
    Sur cette page vous pourrez trouver la liste des membres inscrits au site.
</p>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Date d'inscription</th>
            <th>Dernière connexion</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td>
                <a href="{{ profile.get_absolute_url }}">
                    {{ profile.user.username }}</a>
            </td>
            <td>{{ profile.user.date_joined }}</td>
            <td>{{ profile.user.last_login }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
