{% extends "base.html" %}

{% block title %}
Connexion &ndash; Membres
{% endblock %}

{% block headline %}
Se connecter
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/membres/">Membres</a> <span class="divider">/</span></li>
<li class="active">Connexion</li>
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}

    {% if error %}
        {{ error }}
    {% endif %}

    Si vous n'avez pas de compte, vous pouvez <a href="{% url pdp.member.views.register_view %}" >vous inscrire</a>.

    <form method="post" action="{% url pdp.member.views.login_view %}" class="form-horizontal">
        <fieldset>
            <legend>Identification</legend>
            <div class="control-group">
                <label class="control-label" for="id_username">Identifiant</label>
                <div class="controls">
                    <input type="text" name="username" id="id_username" maxlength="30" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_password">Mot magique</label>
                <div class="controls">
                    <input type="password" name="password" id="id_password" maxlength="76" />
                </div>
            </div>
        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Se connecter
            </button>
            <a href="/" class="btn">
                Annuler
            </a>
        </div>

        {% csrf_token %}
    </form>

{% else %}

Vous êtes déjà connecté

{% endif %}

{% endblock %}
