{% extends "base.html" %}
{% load markup %}
{% load humane_date %}

{% block title %}
{{ usr.username }} &ndash; Membres
{% endblock %}

{% block headline %}
Profil de {{ usr.username }}
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/membres/">Membres</a> <span class="divider">/</span></li>
<li class="active">{{ usr.username }}</li>
{% endblock %}

{% block content %}

{% ifequal profile.user user %}
<p>
<a href="/membres/editer?profil={{ profile.pk }}" class="btn">
    <i class="icon-pencil"></i>
    Éditer mon profil
</a>
</p>
{% endifequal %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#general" data-toggle="tab">Informations générales</a></li>
    <li {% if not profile.biography %}class="disabled"{% endif %}><a {% if profile.biography %}href="#bio" data-toggle="tab"{% endif %}>Biographie</a></li>
    <li><a href="#stats" data-toggle="tab">Statistiques</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane row active" id="general">
        <div class="span2">
            <img src="{{ profile.get_gravatar_url }}&amp;s=140" alt="Avatar" class="img-polaroid"/><br />
        </div>

        <div class="span10">
            <div class="spacer2"></div>
            <p>
                <span style="font-size: 300%;">
                    {{ usr.username }}
                </span>
            </p>
            <p>
                {% if profile.show_email %}
                <span class="muted">Adresse mail | </span> {{ usr.email }}<br />
                {% endif %}

                <span class="muted">Site internet | </span>
                    {% if profile.site %}
                    <a href="{{ profile.site }}">{{ profile.site }}</a>
                    {% else %}
                    aucun
                    {% endif %}
                    <br />

                <span class="muted">Date d'inscription |</span> {{ usr.date_joined|humane_date }}<br />
                <span class="muted">Dernière connexion |</span> {{ usr.last_login|humane_date }}
            </p>
        </div>
    </div>

    {% if profile.biography %}

    <div class="tab-pane" id="bio">
        {{ profile.biography|markdown:"safe,codehilite,extra" }}
    </div>

    {% endif %}

    <div class="tab-pane" id="stats">

        <div class="row-fluid">
            <div class="span4">
                <h3>Sur les forums</h3>
                <span class="pull-right">{{ profile.get_post_count }}</span>Messages postés<br />
                <span class="pull-right">{{ profile.get_topic_count }}</span>Sujets créés
            </div>

            <div class="span4">
                <h3>Dans les tutoriels</h3>
                <span class="pull-right">{{ profile.get_visible_tutorials.count }}</span>Tutoriels en ligne<br />
                <span class="pull-right">{{ profile.get_hidden_tutorials.count }}</span>Tutoriels en cours de rédaction<br />
                <span class="pull-right">{{ profile.get_tutorials.count }}</span>Total
            </div>

            <div class="span4">
                <h3>Et les articles</h3>
                <span class="pull-right">{{ profile.get_visible_articles.count }}</span>Articles en ligne<br />
                <span class="pull-right">{{ profile.get_hidden_articles.count }}</span>Articles en cours de rédaction <br />
                <span class="pull-right">{{ profile.get_articles.count }}</span>Total
            </div>
        </div>

    </div>
</div>

{% endblock %}
