{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Éditer le chapitre &ndash; Tutoriels
{% endblock %}

{% block headline %}
Éditer le chapitre
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/tutoriels/">Tutoriels</a> <span class="divider">/</span></li>
{% if chapter.tutorial %}
    <li><a href="{{ chapter.tutorial.get_absolute_url }}">{{ chapter.tutorial.title }}</a> <span class="divider">/</span></li>
{% else %}
    <li><a href="{{ chapter.part.tutorial.get_absolute_url }}">{{ chapter.part.tutorial.title }}</a> <span class="divider">/</span></li>
    <li><a href="{{ chapter.part.get_absolute_url }}">{{ chapter.part.title }}</a> <span class="divider">/</span></li>
    <li><a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a> <span class="divider">/</span></li>
{% endif %}
<li class="active">Éditer le chapitre</li>
{% endblock %}

{% block content %}

{% if chapter.part %}
    {% include "tutorial/chapter_common.html" %}
{% endif %}

{% crispy form %}

{% endblock %}
