{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Éditer l'extrait
    &ndash; Tutoriels
{% endblock %}

{% block headline %}
    Éditer l'extrait
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/tutoriels/">Tutoriels</a> <span class="divider">/</span></li>
{% if extract.chapter.tutorial %}
    <li><a href="{{ extract.chapter.tutorial.get_absolute_url }}">{{ extract.chapter.tutorial.title }}</a> <span class="divider">/</span></li>
{% else %}
    <li><a href="{{ extract.chapter.part.tutorial.get_absolute_url }}">{{ extract.chapter.part.tutorial.title }}</a> <span class="divider">/</span></li>
    <li><a href="{{ extract.chapter.part.get_absolute_url }}">{{ extract.chapter.part.title }}</a> <span class="divider">/</span></li>
    <li><a href="{{ extract.chapter.get_absolute_url }}">{{ extract.chapter.title }}</a> <span class="divider">/</span></li>
{% endif %}
    <li><a href="{{ extract.get_absolute_url }}">{{ extract.title }}</a> <span class="divider">/</span></li>
    <li class="active">Éditer l'extrait</li>
{% endblock %}

{% block content %}

{% include "tutorial/extract_common.html" %}
{% crispy form %}

{% endblock %}
