{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Nouveau chapitre &ndash; Tutoriels
{% endblock %}

{% block headline %}
Nouveau chapitre
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/tutoriels/">Tutoriels</a> <span class="divider">/</span></li>
<li><a href="{{ part.tutorial.get_absolute_url }}">{{ part.tutorial.title }}</a> <span class="divider">/</span></li>
<li><a href="{{ part.get_absolute_url }}">{{ part.title }}</a> <span class="divider">/</span></li>
<li class="active">Nouveau chapitre</li>
{% endblock %}

{% block content %}

{% include "tutorial/chapter_common.html" %}

{% crispy form %}

{% endblock %}
