{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Nouvel extrait &ndash; Tutoriels
{% endblock %}

{% block headline %}
Nouvel extrait
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/tutoriels/">Tutoriels</a> <span class="divider">/</span></li>
{% if chapter.part %}
    <li><a href="{{ chapter.part.tutorial.get_absolute_url }}">{{ chapter.part.tutorial.title }}</a> <span class="divider">/</span></li>
    <li><a href="{{ chapter.part.get_absolute_url }}">{{ chapter.part.title }}</a> <span class="divider">/</span></li>
    <li><a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a> <span class="divider">/</span></li>
{% else %}
    <li><a href="{{ chapter.tutorial.get_absolute_url }}">{{ chapter.tutorial.title }}</a> <span class="divider">/</span></li>
{% endif %}
<li class="active">Ajouter un extrait</li>
{% endblock %}

{% block content %}

{% include "tutorial/extract_common.html" %}

{% crispy form %}

{% endblock %}
