{% extends "base.html" %}
{% load markup %}
{% load crispy_forms_tags %}

{% block title %}
Nouveau tutoriel &ndash; Tutoriels
{% endblock %}

{% block headline %}
Nouveau tutoriel
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/tutoriels/">Tutoriels</a> <span class="divider">/</span></li>
<li class="active">Nouveau tutoriel</li>
{% endblock %}

{% block content %}

{% crispy form %}

{% endblock %}
