{# Block displaying a part #}
{% load markup %}

{% if user in part.tutorial.authors.all %}
<form action="{% url pdp.tutorial.views.modify_part %}" method="POST"> 
    <input type="hidden" name="part" value="{{ part.pk }}" />

    <a href="javascript:void(0)" class="btn move-btn" data-toggle="popover" data-original-title="Déplacer la partie..." data-placement="bottom"
        data-content="
        <select class='input-block-level' name='move_target'>
            {% if part.position_in_tutorial > 1 %}
                <option value='{{ part.position_in_tutorial|add:"-1" }}'>Monter</option>
            {% endif %}
            {% if part.position_in_tutorial < tutorial.get_parts.count %}
            <option value='{{ part.position_in_tutorial|add:"1" }}'>Descendre</option>
            {% endif %}
                <option disabled>&mdash; Déplacer avant</option>
            {% for part_mv in part.tutorial.get_parts %}
                {% if part != part_mv and part_mv.position_in_tutorial|add:"-1" != part.position_in_tutorial %}
                <option value='{% if part_mv.position_in_tutorial < part.position_in_tutorial %}{{ part_mv.position_in_tutorial }}{% else %}{{ part_mv.position_in_tutorial|add:"-1" }}{% endif %}'>
                        Partie {{ part_mv.position_in_tutorial }} : {{ part_mv.title }}
                    </option>
                {% endif %}
            {% endfor %}
            <option disabled>&mdash; Déplacer après</option>
            {% for part_mv in part.tutorial.get_parts %}
                {% if part != part_mv and part_mv.position_in_tutorial|add:"1" != part.position_in_tutorial %}
                <option value='{% if part_mv.position_in_tutorial < part.position_in_tutorial %}{{ part_mv.position_in_tutorial|add:"1" }}{% else %}{{ part_mv.position_in_tutorial }}{% endif %}'>
                        Partie {{ part_mv.position_in_tutorial }} : {{ part_mv.title }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        <button type='submit' name='move' class='btn input-block-level'>
            Déplacer
        </button>
    ">
        Déplacer
    </a>
        
    <div class="btn-group">
        <a href="/tutoriels/editer/partie?partie={{ part.pk }}"
            class="btn">
            <i class="icon-pencil"></i>
            Éditer
        </a>
        <button type="submit" name="delete" class="btn">
            <i class="icon-remove"></i>
            Supprimer
        </button>
    </div>

    {% csrf_token %}
</form>

{% endif %}

{{ part.introduction|markdown:"safe,codehilite,extra" }}

<p>
    {% if part.get_chapters.count > 0 %}
    Il y a {{ part.get_chapters.count }} chapitre{{ part.get_chapters.count|pluralize }} dans cette partie.
    {% else %}
    Il n'y a aucun chapitre dans cette partie.
    {% endif %}
</p>

{% if user in part.tutorial.authors.all %}
<p>
    <a href="/tutoriels/nouveau/chapitre?partie={{ part.pk }}" class="btn">
        <i class="icon-plus"></i>
        Ajouter un chapitre
    </a>
</p>
{% endif %}

<ol>
    {% for chapter in part.get_chapters %}
    <li>
    <a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a><br />
        {% if user in tutorial.authors.all %}
        <div class="btn-group">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                Déplacer
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <li><a 
                {% if chapter.position_in_part > 1 %}
                    href="/tutoriels/modifier/chapitre?action=deplacer&amp;chapitre={{ chapter.pk }}&amp;position={{ chapter.position_in_part|add:"-1" }}"                 {% else %}
                    href="#" class="disabled"
                {% endif %}>
                <i class="icon-arrow-up"></i>
                Monter
            </a></li>
            <li><a 
                {% if chapter.position_in_part < part.get_chapters.count %}
                href="/tutoriels/modifier/chapitre?action=deplacer&amp;chapitre={{ chapter.pk }}&amp;position={{ chapter.position_in_part|add:"1" }}"                {% else %}
                href="#" class="disabled"
                {% endif %}>
                <i class="icon-arrow-down"></i>
                Descendre
            </a></li>  
            </ul>
        </div>
        <div class="btn-group">
            <a href="/tutoriels/editer/chapitre?chapitre={{ chapter.pk }}" class="btn btn-mini">
                <i class="icon-pencil"></i>
                Éditer
            </a>
            <a href="/tutoriels/modifier/chapitre?chapitre={{ chapter.pk }}&amp;action=supprimer" class="btn btn-mini">
                <i class="icon-remove"></i>
                Supprimer
            </a>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ol>

{{ part.conclusion|markdown:"safe,codehilite,extra" }}
