{# Block displaying a chapter (for large and small tutorials) #}
{% load markup %}

{% if user in chapter.part.tutorial.authors.all or user in chapter.tutorial.authors.all %}
<p>
    <a href="/tutoriels/nouveau/extrait?chapitre={{ chapter.pk }}" class="btn">
        <i class="icon-plus"></i>
        Ajouter un extrait
    </a>

    <a href="/tutoriels/editer/chapitre?chapitre={{ chapter.pk }}" class="btn">
        <i class="icon-pencil"></i>
        Éditer le chapitre
    </a>

    {# Part deletion is only available for large tutorials #}
    {% if chapter.part %}
    <a href="/tutoriels/modifier/chapitre?chapitre={{ chapter.pk }}&amp;action=supprimer" class="btn">
        <i class="icon-remove"></i>
        Supprimer le chapitre
    </a>
    {% endif %}
</p>
{% endif %}

{% if chapter.introduction %}
{{ chapter.introduction|markdown:"safe,codehilite,extra" }}
{% else %}
<p>Aucune introduction.</p>
{% endif %}

<div>
    Sommaire de ce chapitre :
    {% if chapter.get_extracts %}
    <ol>
    {% for extract in chapter.get_extracts %}
        <li>
            <a href="#{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">
                {{ extract.title }}
            </a>
        </li>
    {% endfor %}
    </ol>
    {% else %}
    <p>
        Aucun extrait.
    </p>
    {% endif %}
</div>

<hr />

{% for extract in chapter.get_extracts %}
    <h2 id="{{ extract.position_in_chapter }}-{{ extract.title|slugify }}">{{ extract.title }}</h2>

    {% if user in chapter.part.tutorial.authors.all or user in chapter.tutorial.authors.all %}
    <p>
        <a href="{% url pdp.tutorial.views.edit_extract %}?extrait={{ extract.pk }}" class="btn">
            <i class="icon-pencil"></i>
            Éditer l'extrait
        </a>
        <a href="#" class="btn">
            <i class="icon-remove"></i>
            Supprimer l'extrait
        </a>
    </p>
    {% endif %}

    {% if extract.text %}
        {{ extract.text|markdown:"safe,codehilite,extra" }}
    {% else %}
    <p>
        Cet extrait est vide.
    </p>
    {% endif %}
{% endfor %}

<hr />

{% if chapter.conclusion %}
{{ chapter.conclusion|markdown:"safe,codehilite,extra" }}
{% else %}
<p>Aucune conclusion.</p>
{% endif %}
