{% load url from future %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Sans nom{% endblock %} | progdupeu.pl</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen" />
    <link href="/static/css/progdupeupl.css" rel="stylesheet" media="screen" />
    <link href="/static/css/pygments.css" rel="stylesheet" media="screen" />
</head>
<body>

    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="/" class="brand">progdupeu.pl</a>
                <div class="nav-collapse collapse">
                    {% if user.is_authenticated %}
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {{ user.username }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ user.get_absolute_url }}">Profil</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/membres/deconnexion/{{ get_token }}">Se déconnecter</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav pull-right">
                            <li><a href="/membres/connexion">Connexion</a></li>
                            <li><a href="/membres/inscription">Inscription</a></li>
                        </ul>
                    {% endif %}
                    <ul class="nav">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/articles/">Articles</a></li>
                        <li><a href="/tutoriels/">Tutoriels</a></li>
                        <li><a href="/forums/">Forums</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            {% endblock %}
        </ul>


        <h1>{% block headline %}{% endblock %}</h1>
        {% block content %}{% endblock %}

        <div class="spacer3"></div>
    </div>

    <div class="footer">
        <div class="container">
            <p>&copy; progdupeu.pl 2013</p>
            <a href="#">Contact</a> &#183;
            <a href="https://bitbucket.org/MicroJoe/progdupeupl">Code source</a>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/pdp.js"></script>
    {% block js %}
    {% endblock %}
</body>
</html>
