<p>
    <div class="btn-group">
        <a href="javascript:bold();" class="btn"><i class="icon-bold"></i> Gras </a>
        <a href="javascript:italic();" class="btn"><i class="icon-italic"></i> Italique </a>
    </div>
    <div class="btn-group">
        <a href="javascript:code();" class="btn"><i class="icon-wrench"></i> Code </a>
    </div>
</p>

{% block js %}
<script src="/static/js/rangy.js"></script>
<script src="/static/js/markdown-buttons.js"></script>
{% endblock %}
