{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Nouveau &ndash; Articles
{% endblock %}

{% block headline %}
Nouvel article
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/articles/">Articles</a> <span class="divider">/</span></li>
<li class="active">Nouvel article</li>
{% endblock %}

{% block content %}

{% crispy form %}

{% endblock %}
