{% extends "base.html" %}
{% load markup %}

{% block title %}
Éditer un message &ndash; Forums
{% endblock %}

{% block headline %}
Éditer un message
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Accueil</a> <span class="divider">/</span></li>
<li><a href="/forums/">Forums</a><span class="divider">/</span></li>
<li><a href="{{ post.topic.forum.category.get_absolute_url }}">{{ post.topic.forum.category.title }}</a> <span class="divider">/</span></li>
<li><a href="{{ post.topic.forum.get_absolute_url }}">{{ post.topic.forum.title }}</a> <span class="divider">/</span></li>
<li><a href="{{ post.topic.get_absolute_url }}">{{ post.topic.title }}</a> <span class="divider">/</span></li>
<li class="active">Éditer un message</li>
{% endblock %}

{% block content %}
<form action="" method="POST" class="form-horizontal">
    {% if topic %}
    <fieldset>
        <legend>Sujet</legend>
        <div class="control-group">
            <label class="control-label" for="id_title">Titre</label>
            <div class="controls">
                <input type="text" name="title" id="id_title"
                    value="{{ topic.title }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_subtitle">Sous titre</label>
            <div class="controls">
                <input type="text" name="subtitle" id="id_subtitle"
                    value="{{ topic.subtitle }}" />
            </div>
        </div>
    </fieldset>
    {% endif %}
    <fieldset>
        <legend>Message</legend>
        <div class="control-group">
            <label class="control-label" for="id_text">Texte</label>
            <div class="controls">
                {% include "markdown-buttons.html" %}
                <textarea id="id_text" name="text"
                    class="input-block-level" rows="20">{{ text }}</textarea>
            </div>
        </div>
    </fieldset>

    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">
            <i class="icon-pencil icon-white"></i>
            Éditer
        </button>

        <button type="submit" name="preview" class="btn">
            <i class="icon-eye-open"></i>
            Prévisualisation
        </button>

        <a href="{{ post.get_absolute_url }}" class="btn">Annuler</a>
    </div>

    {% csrf_token %}
</form>

<div class="well">
    <p style="text-align: center;">
        <b>Prévisualisation de votre message</b>
    </p>
    {{ text|markdown:"safe,codehilite,extra" }}
</div>

{% endblock %}
