{# Block displaying the list of forums belonging to a category #}
{% load humane_date %}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="span1">Statut</th>
            <th class="span5">Titre</th>
            <th class="span1">Sujets</th>
            <th class="span5">Dernier message</th>
        </tr>
    </thead>

    <tbody>
    {% for forum in category.get_forums %}
    <tr>
        <td>
        </td>
        <td>
            <a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a><br />
            {{ forum.subtitle }}
        </td>
        <td>
            {{ forum.get_topic_count }}
        </td>
        <td>
            {% if forum.get_last_message %}
            Posté
            <a href="{{ forum.get_last_message.get_absolute_url }}">
                {{ forum.get_last_message.pubdate|humane_date }}
            </a>
            par
            <a href="{{ forum.get_last_message.author.get_absolute_url }}">
                {{ forum.get_last_message.author.username }}
            </a>
            dans
            <a href="{{ forum.get_last_message.topic.get_absolute_url }}">
                {{ forum.get_last_message.topic.title }}
            </a>
            {% else %}
            Aucun message
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
